:root {
  font-family: roboto;
}

@font-face {
  font-family: roboto;
  src: url(../assets/Roboto-Regular.ttf);
  font-weight: 400;
}

.App {
  text-align: center;
  height: 100%;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  padding-bottom: 10px;
}

#main-app {
  display: flex;
  flex-direction: column;
}
