@font-face {
  font-family: "Poppins", sans-serif;
  src: url('./assets/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url('./assets/Poppins-Regular.ttf');
  font-weight: normal;
}


main {
  width: 100%;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#root{
  display: flex;
  flex-direction:column;
  align-items: center;
}

#mainPage{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-inline: 0;
}

#root{
  display: flex;
  flex-direction:column;
  align-items: center;
}

#mainPage{
  display: block;
  width: 75%;
  margin-inline: 0;
}



.App {
  text-align: center;
  height: 100%;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#main-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 3em;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}