.graph-block {
  padding-top: 25vh;
  font-size: 2.5vw
}

.graph-block h2 {
  text-align: center;
  padding: 10px;
  font-size: 3.5vw
}

@media (max-width:400px){
  .graph-block h2{
    font-size: 5vw;
  }

  .graph-block {
    font-size: 3vw;
  }
}