.dropdown {
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  left: -1px;
  z-index: 1000;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
