.js-plotly-plot,
.plot-container,
.svg-container {
  width: 100%;
  display: block;
}

/* .graph-container {
  width: 750px;
  height: 500px;
  margin: auto;
  position: relative;
}

@media (max-width: 700px) {
  .graph-container {
    height: 300px;
    width: 250px;
  }
} */

.Graph-title{
  font-size: 2vw;
  text-align: center;
  font-weight: 600;
}

@media (max-width:800px){
  .Graph-title {
    font-size: 4vw;
  }
}
