.graph-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

section.summary-block {
  display: flex;
  justify-content: center;
}

.company-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  padding: 0px 5px;
}