.pop-up-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow-x: hidden;
    text-align: center;
    gap: 10px;
    padding: 16px;
}

#chart-title {
    font-family: bold;
}

.pop-up-container ul {
    list-style: none;
    text-align: left;
}

#list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#artwork {
    display: block;
    width: 100%;
}